.btn {
	display: inline-block;
	height: 40px;
	width: 50px;
	margin: 1px;
	background: #d8d8d8;
	text-align: center;
	line-height: 40px;
	font-size: 20px;

}

.btn:active {
	background: #818181;

}

#zero {
	width: 102px !important;
}

#calc_wrap {
    width: 208px;
    background: rgba(109,90,93,1);
	background: -moz-linear-gradient(left, rgba(109,90,93,1) 12%, rgba(149,124,117,1) 51%, rgba(145,121,115,1) 54%, rgba(109,90,93,1) 85%, rgba(109,90,93,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(12%, rgba(109,90,93,1)), color-stop(51%, rgba(149,124,117,1)), color-stop(54%, rgba(145,121,115,1)), color-stop(85%, rgba(109,90,93,1)), color-stop(100%, rgba(109,90,93,1)));
	background: -webkit-linear-gradient(left, rgba(109,90,93,1) 12%, rgba(149,124,117,1) 51%, rgba(145,121,115,1) 54%, rgba(109,90,93,1) 85%, rgba(109,90,93,1) 100%);
	background: -o-linear-gradient(left, rgba(109,90,93,1) 12%, rgba(149,124,117,1) 51%, rgba(145,121,115,1) 54%, rgba(109,90,93,1) 85%, rgba(109,90,93,1) 100%);
	background: -ms-linear-gradient(left, rgba(109,90,93,1) 12%, rgba(149,124,117,1) 51%, rgba(145,121,115,1) 54%, rgba(109,90,93,1) 85%, rgba(109,90,93,1) 100%);
	background: linear-gradient(to right, rgba(109,90,93,1) 12%, rgba(149,124,117,1) 51%, rgba(145,121,115,1) 54%, rgba(109,90,93,1) 85%, rgba(109,90,93,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d5a5d', endColorstr='#6d5a5d', GradientType=1 );
}

.textArea {
    height: 10px;
    width: calc(100% - 8px);
    margin-left: 1px;
    text-align: right;
    border: 0;
    color: white;
    font-size: 30px;
    background: transparent;
}


#calculations {
    font-size: 15px;
    opacity: 0.7;
}

.orang_btn {
	background: orange;
}

